#backtotop{
      position: fixed;
      bottom:2vh;
      right:2vh;
}

*{
      font-family: 'Cabinet Grotesk', sans-serif;
      scroll-margin-top: 5rem;
}

body{
      user-select: none;
      font-size: 0.8rem;
}

a{
      text-decoration: none;
      font-weight: bold;
}

h1{font-family: 'General Sans', sans-serif;}
h3{
      font-family: 'Cabinet Grotesk', sans-serif;
      font-size: 1.35rem;
      margin: 5px 0;
}

.card{
      min-height: 100px;
      font-family: 'Cabinet Grotesk', sans-serif;
}

.navbar-toggler{
      border: 0;
}

/* ----------------------------- */

code, .input{
      user-select: all;
      cursor: text;
      display: inline!important;
      font-family: 'Roboto Mono', monospace;
}

.input{
      user-select: none;
      cursor: default;
      color: rgb(212, 198, 91);
}

/* ----------------------------- */

.code.block{
      user-select: all;
      cursor: text;
      padding: 10px;
      border: var(--bs-card-border-width) solid var(--bs-card-border-color);
      border-radius: var(--bs-border-radius);
      overflow-x: auto;
      white-space: nowrap;
}

.code pre{
      display: inline;
      font-family: 'Roboto Mono', monospace;
      font-size: 0.875em;
      color: var(--bs-code-color);
      margin: 0;
}

.code .input{
      display: inline;
      cursor: default;
      user-select: none;
}

.code .comment{
      display: inline;
      cursor: default;
      user-select: none;
      font-size: 0.875em;
      font-family: 'Roboto Mono', monospace;
      color: rgb(165, 165, 165);
      text-wrap: wrap;
}

/* ----------------------------- */

:target{animation: target-fade 2s;}
@keyframes target-fade {
	from {background-color: rgba(255, 255, 255, 0.4);}
	to { background-color: transparent; }
}

.navbar *{
      transition: 0.75s ease;
}